.card {
    min-height: 300px;
    width: 300px;
    border-radius: 10px;
    transform: perspective(2000px);
    transform-style: preserve-3d;
}

.Qr {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.75s ease-out;
    transform: translateZ(20px);
}

.qrImage {
    max-height: 300px;
    align-items: center;
}
