// .cardcontainer {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100%;
//     border-radius: 10px;
//     z-index: 2;
// }

.card {
    min-height: 300px;
    width: 300px;
    border-radius: 10px;
    transform: perspective(2000px);
    transform-style: preserve-3d;
}

.Qr {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.75s ease-out;
    transform: translateZ(20px);
}

.qrImage {
    max-height: 300px;
    align-items: center;
}

// https://stackoverflow.com/questions/51042312/background-image-border-radius-white-corners

// .card-container {
//     width: 260px;
//     height: 380px;
//     background-position: 50% center;
//     background-size: cover;
//     border-radius: 15px;
//     overflow: hidden;
//   }
//   .card-container:hover {
//     box-shadow: 0 20px 70px -30px rgba(51, 51, 51, 0.7), 0 50px 100px 0 rgba(51, 51, 51, 0.2);
//     z-index: 10;
//     -webkit-transform: translateZ(-50px);
//     transform: translateZ(-50px);
//     -webkit-transition: .3s;
//     transition: .3s;
//   }
//   .card-container:hover:after {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     height: 100%;
//     width: 100%;
//   }
