// Site Variables
$webdite-width: 1280px;
$bg-image: url("#");

// Fonts from goolefont, expecting a cutom font from RJ
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
$ft1: "Rajdhani", sans-serif;
$ft2: "Roboto", sans-serif;

// Main Colors

$mC: #ff00b4;
$bG: #110e10;

// Adjust colors
$lc1: #c9c9c9;
$mc1: #828282;
$dc1: #333333;
