@import "config";

.form-control {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: $ft1;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: $ft1;
}
